USE [RentCar]
GO
/****** Object:  Table [dbo].[BD]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BD](
	[CONECTADO] [int] NOT NULL,
	[VERSION_1] [varchar](20) NOT NULL,
	[VERSION_2] [varchar](20) NOT NULL,
	[VERSION_3] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](250) NOT NULL,
	[APELLIDOS] [varchar](250) NOT NULL,
	[CEDULA] [varchar](250) NOT NULL,
	[TARJETA_CREDITO] [varchar](250) NOT NULL,
	[LIMITE_CREDITO] [real] NULL,
	[TIPO_PERSONA] [int] NOT NULL,
	[ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](250) NOT NULL,
	[APELLIDOS] [varchar](250) NOT NULL,
	[CEDULA] [varchar](250) NOT NULL,
	[TANDA] [int] NOT NULL,
	[COMISION] [real] NULL,
	[FECHA_INGRESO] [date] NULL,
	[FECHA_SALIDA] [date] NULL,
	[ESTADO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSPECCION]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSPECCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_VEHICULO] [int] NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[RALLADURAS] [int] NOT NULL,
	[CANTIDAD_COMBUSTIBLE] [varchar](50) NOT NULL,
	[GOMA_REPUESTO] [int] NOT NULL,
	[GATO] [int] NOT NULL,
	[ROTURA_CRISTAL] [int] NOT NULL,
	[ESTADO_NEUMATICO_1] [int] NOT NULL,
	[ESTADO_NEUMATICO_2] [int] NOT NULL,
	[ESTADO_NEUMATICO_3] [int] NOT NULL,
	[ESTADO_NEUMATICO_4] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
	[ESTADO] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK__INSPECCI__3214EC27CAC6C0B6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](150) NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK__MARCAS__3214EC27BFC1F628] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__MARCAS__794449EFD4554B39] UNIQUE NONCLUSTERED 
(
	[DESCRIPCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MODELOS]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODELOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MARCA] [int] NOT NULL,
	[MODELO] [varchar](150) NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK__MODELOS__3214EC270E283075] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__MODELOS__9B5183751E65F082] UNIQUE NONCLUSTERED 
(
	[MODELO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENTA_DEVOLUCION]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENTA_DEVOLUCION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[ID_VEHICULO] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[FECHA_RENTA] [date] NOT NULL,
	[FECHA_DEVOLUCION] [date] NOT NULL,
	[MONTOXDIA] [real] NOT NULL,
	[DIAS] [int] NOT NULL,
	[OBSERVACION] [varchar](250) NOT NULL,
	[ESTADO] [int] NULL,
 CONSTRAINT [PK__RENTA_DE__3214EC27DC9ADBB2] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_COMBUSTIBLES]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_COMBUSTIBLES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](150) NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK__TIPO_COM__3214EC2777718208] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TIPO_COM__794449EF3D727118] UNIQUE NONCLUSTERED 
(
	[DESCRIPCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_VEHICULOS]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_VEHICULOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](150) NOT NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK__TIPO_VEH__3214EC276BDE18B4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__TIPO_VEH__794449EF52A5C923] UNIQUE NONCLUSTERED 
(
	[DESCRIPCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRES] [varchar](250) NOT NULL,
	[APELLIDOS] [varchar](250) NOT NULL,
	[USUARIO] [varchar](50) NOT NULL,
	[CORREO] [varchar](250) NOT NULL,
	[PASSWORD] [varchar](250) NOT NULL,
 CONSTRAINT [PK__USERS__3214EC27918E08A5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [USERS_CORREO_UN] UNIQUE NONCLUSTERED 
(
	[CORREO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [USERS_USUARIO_UN] UNIQUE NONCLUSTERED 
(
	[USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEHICULOS]    Script Date: 2-2-2021 9:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MARCA] [int] NOT NULL,
	[ID_MODELO] [int] NOT NULL,
	[ID_TIPO_VEHICULO] [int] NOT NULL,
	[ID_TIPO_COMBUSTIBLE] [int] NOT NULL,
	[DESCRIPCION] [varchar](250) NOT NULL,
	[CHASIS] [varchar](250) NULL,
	[PLACA] [varchar](60) NULL,
	[MOTOR] [varchar](60) NULL,
	[ESTADO] [int] NOT NULL,
 CONSTRAINT [PK__VEHICULO__3214EC2734EAD097] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[INSPECCION]  WITH CHECK ADD  CONSTRAINT [FK_INSPECCION_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[INSPECCION] CHECK CONSTRAINT [FK_INSPECCION_CLIENTES]
GO
ALTER TABLE [dbo].[INSPECCION]  WITH CHECK ADD  CONSTRAINT [FK_INSPECCION_EMPLEADOS] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[INSPECCION] CHECK CONSTRAINT [FK_INSPECCION_EMPLEADOS]
GO
ALTER TABLE [dbo].[INSPECCION]  WITH CHECK ADD  CONSTRAINT [FK_INSPECCION_VEHICULOS] FOREIGN KEY([ID_VEHICULO])
REFERENCES [dbo].[VEHICULOS] ([ID])
GO
ALTER TABLE [dbo].[INSPECCION] CHECK CONSTRAINT [FK_INSPECCION_VEHICULOS]
GO
ALTER TABLE [dbo].[MODELOS]  WITH CHECK ADD  CONSTRAINT [FK_MODELOS_MARCAS] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCAS] ([ID])
GO
ALTER TABLE [dbo].[MODELOS] CHECK CONSTRAINT [FK_MODELOS_MARCAS]
GO
ALTER TABLE [dbo].[RENTA_DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_RENTA_DEVOLUCION_CLIENTES] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTES] ([ID])
GO
ALTER TABLE [dbo].[RENTA_DEVOLUCION] CHECK CONSTRAINT [FK_RENTA_DEVOLUCION_CLIENTES]
GO
ALTER TABLE [dbo].[RENTA_DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_RENTA_DEVOLUCION_EMPLEADOS] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADOS] ([ID])
GO
ALTER TABLE [dbo].[RENTA_DEVOLUCION] CHECK CONSTRAINT [FK_RENTA_DEVOLUCION_EMPLEADOS]
GO
ALTER TABLE [dbo].[RENTA_DEVOLUCION]  WITH CHECK ADD  CONSTRAINT [FK_RENTA_DEVOLUCION_VEHICULOS] FOREIGN KEY([ID_VEHICULO])
REFERENCES [dbo].[VEHICULOS] ([ID])
GO
ALTER TABLE [dbo].[RENTA_DEVOLUCION] CHECK CONSTRAINT [FK_RENTA_DEVOLUCION_VEHICULOS]
GO
ALTER TABLE [dbo].[VEHICULOS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULOS_MARCAS] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCAS] ([ID])
GO
ALTER TABLE [dbo].[VEHICULOS] CHECK CONSTRAINT [FK_VEHICULOS_MARCAS]
GO
ALTER TABLE [dbo].[VEHICULOS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULOS_MODELOS] FOREIGN KEY([ID_MODELO])
REFERENCES [dbo].[MODELOS] ([ID])
GO
ALTER TABLE [dbo].[VEHICULOS] CHECK CONSTRAINT [FK_VEHICULOS_MODELOS]
GO
ALTER TABLE [dbo].[VEHICULOS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULOS_TIPO_COMBUSTIBLES] FOREIGN KEY([ID_TIPO_COMBUSTIBLE])
REFERENCES [dbo].[TIPO_COMBUSTIBLES] ([ID])
GO
ALTER TABLE [dbo].[VEHICULOS] CHECK CONSTRAINT [FK_VEHICULOS_TIPO_COMBUSTIBLES]
GO
ALTER TABLE [dbo].[VEHICULOS]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULOS_TIPO_VEHICULOS] FOREIGN KEY([ID_TIPO_VEHICULO])
REFERENCES [dbo].[TIPO_VEHICULOS] ([ID])
GO
ALTER TABLE [dbo].[VEHICULOS] CHECK CONSTRAINT [FK_VEHICULOS_TIPO_VEHICULOS]
GO
